body{
    display: flex;
    min-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: sans-serif;
}

.btn{
    display: flex;
    float: right;
    color: #fff;
    border: 2px solid #000;
    background-color: red;
    border-radius: 5px;
}