.container{
    display: grid;
    grid-template-columns: 1fr 2.9fr;
    grid-template-rows: 1fr 2.6fr;
    gap: 0px 0px;
    grid-template-areas:"sidenav classroom";
}
.sidenav{ grid-area: sidenav; }
.classroom{
    display: grid; 
    grid-template-columns: 1fr 1fr 1.5fr 0.5fr; 
    grid-template-rows: 0.6fr 1.4fr 1.1fr 0.9fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "member Profile Profile ."
      "member message message ."
      "member message message ."
      "member textarea textarea ."; 
    grid-area:classroom;
}
.Member{
grid-area: member; 
background-color: #3e3e3e; 
}
.Message{ 
    grid-area: message;
    background-color: #778899; 
}
.Text-area{
    justify-content: center;
    text-align: center;
    grid-area: textarea; 
    background-color: #d6d7d7;
}
.profile-view{
    grid-area: Profile; 
    display: flex;
    background-color: #0162c3;
    justify-content: right;
}
.chatbox{
    border:0.2vmax solid black;
    height: 70%;
}
.btn{
    border: 2px solid red;
    background-color: navy;
}

.registerContainer{
    display:flex;
    flex-flow:column;
    max-width: 50%;
    justify-content: center;
    text-align: center;
}

.message{
    display: flex;
    justify-content: baseline;
    height: 50%;
    width: 500px;
    border:2px solid black;
    color: #ef0012;
    text-align: bottom;
}
.Text-area:hover{
    text-shadow: 2px 2px 4px #737fff;
}

.container2{
    display: grid;
    grid-template-columns: "1fr 1fr";
    grid-template-rows: "1fr";
    gap: 0px 2px;
    grid-template-areas: "assingment result";
}
.assingment{
    grid-area: "assingment";
}
.result{
    grid-area:"result";
}