.item{
   display: flex;
   justify-content:center;
   margin: auto 50%;
   flex-direction:right;
   gap: 12px;
}
.items{
    text-decoration: none;
}
.btn{
    border: 2px solid #ef0011;
    color: #e02112;
}
